.editor {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 30vh;
    overflow-y: scroll;
    background-color: rgb(236, 215, 187);
    resize: none;
    overflow-x: hidden;
    border: 1px solid rgb(172, 170, 170);
    padding: 0px;
}

.editor1 {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 95vh;
    overflow-y: scroll;
    background-color: rgb(236, 215, 187);
    resize: none;
    overflow-x: hidden;
    padding: 0;
}